.movies-card-list {
	padding: 70px 70px 30px;
    display: grid;
	grid-template-columns: repeat(auto-fit, 270px);
	grid-auto-rows: 218px;
	flex-wrap: wrap;
	justify-content: center;
	gap: 32px 20px;
}
.movies-card-list__container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.movies-card-list__button {
	margin: 50px 70px 80px;
	padding: 0;
	height: 36px;
	width: 100%;
	max-width: 1140px;
	border: 0;
	border-radius: 6px;
	background-color: #F9F9F9;
	font-size: 12px;
	cursor: pointer;
}

.movies-card-list__button:hover {
	opacity: 0.8;
}


@media screen and (max-width: 768px) {
	.movies-card-list {
		padding: 70px 30px 30px;
		grid-template-columns: repeat(auto-fill, 339px);
		grid-auto-rows: 257px;
		row-gap: 36px;
		column-gap: 20px;
	}
	.movies-card-list__button {
		margin: 50px 70px 80px;
		max-width: 708px;
	}
}

@media screen and (max-width: 425px) {
	.movies-card-list {
		grid-template-columns: repeat(auto-fit, 300px);
		grid-auto-rows: 235px;
		flex-direction: column;
		justify-content: center;
		padding: 40px 10px 30px;
		row-gap: 20px;
	}

	.movies-card-list__button {
		margin: 50px 10px 70px;
		width: 300px;
	}
}