.movies-card-list {
	padding: 70px 70px 30px;
    display: grid;
	grid-template-columns:repeat(4, 1fr); 
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 32px;
	column-gap: 20px;
}
.movies-card-list__container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.movies-card-list__button {
	margin: 50px 70px 80px;
	padding: 0;
	height: 36px;
	width: 100%;
	max-width: 1140px;
	border: 0;
	border-radius: 6px;
	background-color: #F9F9F9;
	font-size: 12px;
	cursor: pointer;
}

.movies-card-list__button:hover {
	opacity: 0.8;
}

@media screen and (max-width: 1250px) {
	.movies-card-list {
		grid-template-columns:repeat(3, 1fr); 

	}
}
@media screen and (max-width: 900px) {
	.movies-card-list {
		grid-template-columns:repeat(2, 1fr); }}

@media screen and (max-width: 768px) {
	.movies-card-list {
		padding: 70px 30px 30px;
		grid-template-columns:repeat(2, 1fr); 
		row-gap: 36px;
		column-gap: 30px;
	}
	.movies-card-list__button {
		margin: 50px 70px 80px;
		max-width: 708px;
	}
}

@media screen and (max-width: 750px) {
	.movies-card-list {
		grid-template-columns:repeat(1, 1fr); 
		flex-direction: row;
		align-content: center;
		padding: 40px 10px 30px;
		gap: 20px;
	}
}
@media screen and (max-width: 425px) {
	.movies-card-list {
		grid-template-columns:repeat(1, 1fr); 
		flex-direction: column;
		align-content: center;
		padding: 40px 10px 30px;
		gap: 20px;
	}

	.movies-card-list__button {
		margin: 50px 10px 70px;
		width: 300px;
	}
}