.account__page {
    width: 100%;
    font-family: Inter, sans-serif;;
    font-style: normal;
    line-height: normal;
}
.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.account__wrapper {
    width: 410px;
}
.account__greeting {
    margin: 75px auto 125px auto;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
.account__field {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 500;
}
.account__field-name {
    border-bottom: 1px solid #E8E8E8;
    width: 100%;
    padding: 0px 0 16px 0;
    margin-bottom: 16px; 
}
.account__name{
    border: 0;
    text-align: end;
    font-weight: 400;
}
.account__name:focus {
    border-radius: 8px;
}
.account__email {
    border: 0;
    text-align: end;
    font-weight: 400;
} 
.account__email:focus {
    border-radius: 8px;
}
.account-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    padding: 220px 0 70px;
}

.account__email {
    font-weight: 400;
}
.account-links__edit {
    margin-bottom: 16px;
}
.account-links__exit {
    color: #EE3465;
    text-decoration: none;
}

@media (max-width: 768px) {
    .account__greeting {
        margin: 236px auto 96px auto;
    }
    .account__fields {
        margin-top: 97px;
    }

    .account-links {
        padding: 210px 0 270px;
    }
    
}
@media (max-width: 430px) {
    .account {
        flex-direction: unset;
    } 
    .account__greeting {
        margin: 81px auto 80px auto;
    }
    .account__fields {
        max-width: 260px;
        margin: 0 auto;
    }
    .account-links {
        padding: 380px 0 40px;
        font-size: 12px;
    }

}