.portfolio {
	padding: 110px 70px 110px;
	display: flex;
	flex-direction: column;
}

.portfolio__about {
	display: flex;
	padding-top: 66px;
	justify-content: space-between;
}

.portfolio__about-container {
	display: flex;
	flex-direction: column;
}

.portfolio__title {
	margin: 0;
	font-size: 50px;
	font-weight: 400;
	line-height: 58px; /* 116% */
	letter-spacing: -2px;
}

.portfolio__subtitle {
	margin: 0;
	padding-top: 18px;
	font-size: 18px;
	font-weight: 500;
	line-height: 20px; /* 111.111% */
}

.portfolio__text {
	margin: 0;
	padding-top: 26px;
	max-width: 600px;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; /* 157.143% */
}

.portfolio__img {
	max-width: 270px;
	border-radius: 10px;
	object-fit: cover;
}

.portfolio__github {
	padding-top: 100px;
	color: black;
	text-decoration: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
}

.portfolio__example-link:hover {
	opacity: 0.8;
	color: #A0A0A0;
}

.portfolio__github:hover, .portfolio__exaple-container:hover {
	opacity: 0.8;
}

.portfolio__sign {
	padding-top: 100px;
	color: #A0A0A0;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px; /* 111.111% */
}

.portfolio__exaples-container {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
}

.portfolio__exaple-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0 0;
}

.portfolio__example-sample {
	margin: 0;
	padding-bottom: 18px;
	font-size: 30px;
	font-weight: 400;
	line-height: 50px; /* 166.667% */
	letter-spacing: -1.2px;
}

.portfolio__example-link {
	color: #000;
	font-size: 30px;
	font-weight: 400;
	line-height: 60px; /* 200% */
	letter-spacing: -1.2px;
	text-decoration: none;
	cursor: pointer;
}

.portfolio__example-underline {
	border-bottom: 1px solid #E8E8E8;
}

@media screen and (max-width: 768px) {
	.portfolio {
		padding: 90px 50px 80px;
	}

	.portfolio__about-container {
		max-width: 364px;
	}

	.portfolio__title {
		font-size: 40px;
		font-size: 40px;
		font-style: normal;
		font-weight: 400;
		line-height: 40px; /* 100% */
		letter-spacing: -1.6px;
	}

	.portfolio__subtitle {
		padding-top: 16px;
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 18px; /* 150% */
	}

	.portfolio__text {
		padding-top: 20px;
		font-feature-settings: 'clig' off, 'liga' off;
		font-family: Inter;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px; /* 150% */
	}

	.portfolio__img {
		max-width: 255px;
		max-height: 307px;
	}

	.portfolio__github {
		padding-top: 40px;
	}

	.portfolio__sign {
		padding-top: 90px;
	}

	.portfolio__exaples-container {
		padding-top: 30px;
	}

	.portfolio__example-sample, .portfolio__example-link {
		font-size: 28px;
	}

	.portfolio__example-link:hover {
		opacity: 0.8;
		color: #A0A0A0;
	}
	.portfolio__github {
		padding-top: 90px;
	}
}

@media screen and (max-width: 760px) {
	.portfolio__about {
		flex-direction: column-reverse;
		align-items: center;
	}
	.portfolio__title, .portfolio__subtitle {
		text-align: center;
	}

	.portfolio__img {
		max-width: 292px;
	}
}

@media screen and (max-width: 425px) {
	.portfolio {
		padding: 70px 14px 50px;
		text-align: left;
	}
	.portfolio__img {
		max-width: 292px;
		max-height: 352px;

	}
	.portfolio__about {
		padding-top: 60px;
		flex-direction: column-reverse;
	}
	.portfolio__title {
		font-size: 30px;
		padding-top: 40px;
		text-align: left;
		line-height: normal;
		letter-spacing: -1.2px;
	}

	.portfolio__subtitle {
		padding-top: 20px;
		font-size: 11px;
		text-align: left;
	}

	.portfolio__text {
		font-size: 11px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px; /* 145.455% */
	}

	.portfolio__github {
		padding-top: 40px;
	}

	.portfolio__sign {
		padding-top: 70px;
		font-size: 14px;
	}

	.portfolio__exaples-container {
		padding-top: 20px;
	}

	.portfolio__example-sample, .portfolio__example-link {
		font-size: 18px;
		line-height: 28px; /* 155.556% */
		letter-spacing: -0.72px;
	}

	
}