:root {
  --background-color-blue: #073042;
  --background-color-white: #FFFFFF;
  --background-color-light-blue: #465DFF;
  --background-color-light-grey: #F5F5F5;
  --background-color-light-grey-f: #F9F9F9;
  --button-color-green: #3DDC84;
  --button-color-grey: #F9F9F9;
  --button-color-orange: #FF6838;
  --text-color-white: #FFFFFF;
  --text-color-black: #000;
  --text-color-red: #EE3465;
  --text-color-grey: #A0A0A0;
  --line: #000;
  --text-color-dark-grey: #8B8B8B;
  --text-color-black: #000;
  --grey-line: #E8E8E8;
  --background-color-movies-card: #FDFDFD; 
  --background-disabled-switcher: #EBEBEB;
  --background-active-switcher: #3DDC84;
  --disabled-switcher-ball: #F5F5F5;
  --active-switcher-ball: #FFFFFF;
}
