.page {
  min-height: 100vh;
  background-color: var(--background-color-grey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-family: "Inter";
  text-rendering: optimizeLegibility;
  color: var(--text-color-white);
  max-width: 100%;
}

.page__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh);
  max-width: 100%;
}

.page__container.page__container-auth {
  padding: calc(70px - 18px) 0 70px;
  min-height: calc(100vh - 70px - (70px - 18px)) !important;
}

.content {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.content.content_not-found {
  flex-direction: row;
}

.content.auth {
  flex: 1 0 auto;
}

@media screen and (max-width: 500px) {
  .page__container.page__container-auth {
    justify-content: start;
    padding: calc(56px - 18px) 0 30px;
    min-height: calc(100vh - (30px + 56px - 18px)) !important;
  }

  .content.auth {
    flex: 1 0 auto;
  }
}