.searchform {
	padding: 0 70px;
	height: 247px;
	display: flex;
	flex-direction: column;
}

.searchform__bar {
	padding-top: 60px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	height: 46px;
}

.searchform__toggle-container {
	display: flex;
	gap: 12px;
	justify-content: center;
	padding-top: 42px;
}

.searchform__toggle-title {
	font-size: 14px;
	line-height: 18px; /* 128.571% */
}

.searchform__input, .searchform__button {
	border: 0;
	border-radius: 40px;
}

.searchform__input {
	width: 100%;
	background-color: #F9F9F9;
	padding: 22px 14px;
	position: relative;
}

.searchform__input::placeholder {
  font-size: 13px;
}

.searchform__button {
	min-width: 80px;
	height: 34px;
	background-color: #FF6838;
	cursor: pointer;
	position: absolute;
	margin: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.searchform__button:hover {
	opacity: 0.8;
}

.searchform__icon {
	width: 22px;
	height: 22px;
}

.searchform__label {
	display: flex;
	width: 100%;
}

.searchform__border-bottom {
	border-bottom: 1px solid #E8E8E8;
	padding-top: 70px;
}

@media screen and (max-width: 768px) {
	.searchform {
		padding: 0 30px;
	}
	.searchform__bar {
		padding-top: 80px;
	}

	.searchform__toggle-container {
		padding-top: 42px;
	}

	.searchform__border-bottom {
		padding-top: 51px;
	}
}

@media screen and (max-width: 425px) {
	.searchform {
		padding: 0 14px;
	}

	.searchform__toggle-title {
		font-size: 11px;
	}
}