.portfolio {
    padding-top: 100px;
}

.portfolio__title {
    color: var(--text-color-dark-grey);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 50px;
    margin: 0;
}

.portfolio__link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey-line);
    padding-bottom: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.portfolio__link-wrapper:last-child {
    border-bottom: none !important;
    padding: 0;
    margin: 0 0 15px;
}

.portfolio__link {
    text-decoration: none;
    background-image: url(../../../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    width: 100%;
    display: block;
}

.portfolio__links{
    padding:0;
    margin: 0;
}

.portfolio__subtitle {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.2px;
    color: var(--text-color-black);
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 790px) {
    .portfolio__link-wrapper {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .portfolio__subtitle {
        font-size: 28px;
        line-height: 50px;
        letter-spacing: -1.12px
    }

    .portfolio__link-wrapper:last-child {
        margin: 0;
    }

    .portfolio {
        padding-top: 90px;
    }
}


@media screen and (max-width: 680px) and (min-width: 320px) {
    .portfolio__subtitle {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px
    }
    .portfolio__title{
        font-size: 14px;
        padding-bottom: 40px;
    }
    .portfolio{
        padding-top: 70px
    }
    .portfolio__link {
        background-position: 100% 50%;
        background-size: 8% 44%;
    }
}