.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 92px 0 70px;
    flex-grow: 1;
    color: var(--text-color-black);
}

.profile__greetings {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.profile__data-container {
    width: 410px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding-top: calc(0.175 * 100vh);
}

.profile__data-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile__input{
    text-align: end;
    background-color: transparent;
    border: none;
    color: var(--text-color-black);
}

.profile__input:focus{
    outline: 1px solid var(--grey-line);
}

.profile__update-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
    justify-content: flex-end;
}

.profile__success-message {
    color: var(--button-color-orange);
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 15px;
    height: 20px;
    opacity: 0;
    visibility: hidden;
    animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
        visibility: hidden;
    }
    30%, 70% {
        opacity: 1;
        visibility: visible;
    }
}

.profile__span-update{
    margin-bottom: 4px;
    padding: 0;
    text-align: center;
    color: var(--text-color-red);
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__data-row:first-child {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--grey-line);
}

.profile__update-btn {
    padding: 0;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background-color: transparent;
    color: var(--text-color-black);
}

.profile__logout {
    padding: 0;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--text-color-red);
}

@media screen and (max-width: 768px) {
    .profile__data-container {
        padding-top: calc(0.091 * 100vh);
    }
}

@media screen and (max-width: 500px) {
   
    .profile__data-container {
        padding-top: calc(0.105 * 100vh);
    }
    .profile__data-container {
        width: 260px;
    }
    .profile__data-row{
        font-weight: 500;
    }

    .profile__update-btn{
        font-size: 12px;
    }

    .profile__logout{
        font-size: 12px;
    }
}