.navtab {
    background-color: var(--background-color-light-grey);
    margin: 0;
    display: flex;
    justify-content: center;
}

.navtab__list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    padding: 25px 0;
    width: 276px;
    justify-content: space-between;
    list-style: none;
}

.navtab__element {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-decoration-line: underline;
    color: var(--text-color-black);

}


@media screen and (max-width: 500px) and (min-width: 320px) {
    .navtab__element {
        font-size: 11px;
    }
    .navtab__list{
        width: 214px;
    }
}