.register {
    max-width: 396px;
    margin: 70px auto;
    font-style: normal;
    line-height: normal;
}
.register__logo {
    width: 38px;
    height: 38px;
}
.register__field {
    display: flex;
    flex-direction: column;
}
.register__greeting {
    margin: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 35px auto 42px auto;
}
.register__label {
    color: #A0A0A0;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 10px;
}
.register__label-email{
    margin-top: 10px;
}

.register__label-pass{
    margin-top: 10px;
}

.register__submit {
    background: #FF6838;
    color: #fff;
    border-radius: 3px;
    border: 0;
    margin-top: 68px;
    padding: 0;
    width: 396px;
    height: 45px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.register__input {
    border-radius: 8px;
    padding: 0;
    margin: 0;
    background: #F9F9F9;
    border: 0;
    padding: 15px;
    font-size: 13px;
    font-weight: 400;
    padding-left: 15px;
}

.register__question {
    margin: 16px 0 0;
    font-size: 14px;
    font-weight: 400;
    color: #A0A0A0;
    text-align: center;
}
.register__link {
    text-decoration: none;
    color: #FF6838;
}
.register__error {
    margin: 12px 0 0;
    color: #EE3465;
    font-size: 10px;
}

@media (max-width:768px) {
    .register {
        margin-top: 232px;
        margin-bottom: 232px;
    }

    .register__greeting {
        margin-top: 38px;
        margin-bottom: 40px;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

@media (max-width:405px) {
    .register {
        margin: 56px 0 30px;
        text-align: center;
    }
    .register__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .register__greeting {
        margin-top: 48px;
        margin-bottom: 80px;
    }
    .register__input {
        width: 250px;
        padding: 15px 0;
        padding-left: 15px;
    }
    .register__label {
        text-align: left;
    }
    .register__error {
        margin-top: 11px;
        text-align: left;
    }
    .register__submit {
        font-size: 12px;
        margin-top: 158px;
        width: 259px;
    }
    .register__question {
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 0;
    }
}