.login{
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-grow: 1;
}

.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    gap: 20px;
}

.login-form__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-end;
}

@media screen and (max-width: 500px) {  
    .login-form{
      flex: 1 0 auto;
    }
    .login{
        padding-top: 80px;
    }
}