/* The toggle - the box around the toggle__slider */
.toggle {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

/* Hide default HTML checkbox */
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The toggle__slider */
.toggle__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2BE080;
  -webkit-transition: .4s;
  transition: .4s;
	border-radius: 34px;
}

.toggle:hover {
  opacity: 0.8;
}

.toggle__slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
	top: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
	border-radius: 50%;
}

input:checked + .toggle__slider {
  background-color: #EBEBEB;
}

input:checked + .toggle__slider::before {
  background-color: #2BE080;
}

input:checked + .toggle__slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}