.search-form {
    padding: 60px 0 calc(70px - 20px - 15px);
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.search-form__container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
    flex-grow: 1;
    padding: 0 0;
}

.search-form__search-container {
    background-color: var(--background-color-white);
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	height: 46px;
}

.search-form__input-field {
    color: var(--text-color-dark-grey);
    flex-grow: 1;
    border: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    padding: 0;
    border: 0;
	border-radius: 40px;
    background-color: #F9F9F9;
    position: relative;
    height: 46px;
    display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
    padding: 0 14px;
}

.search-form__error-text {
    color: var(--text-color-red);
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 15px;
    height: 20px;
}

.search-form__input-field:focus {
    outline: 1px solid var(--grey-line);
}

.search-form__search-btn {
	min-width: 80px;
	height: 34px;
	background-color: #FF6838;
	cursor: pointer;
	position: absolute;
	margin: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
    border-radius: 40px;
}


.search-form__switcher-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    flex-grow: 0;
    border-radius: 0 9px 9px 0;
    gap: 15px;
}


.search-form__switcher-text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    line-height: 18px;
    padding: 0;
    margin: 0;
    color: var( --text-color-black);
}

@media screen and (max-width: 790px) {
    .search-form {
        padding: 100px 0 109px;
    }

    .search-form__switcher-container {
        padding: 12px 21px 9px;
        margin: 0;
    }


    .search-form__search-container {
        padding: 14px 0px 16px 15px;
    }
}

@media screen and (max-width: 690px) {
    .search-form {
        padding: 100px 0 45px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 136px;
    }

    .search-form__delimeter {
        display: none;
    }

    .search-form__switcher-container {
        background-color: transparent;
        padding: 0;
        margin: 0;
        width: 148px;
        justify-content: space-between;
        padding-top: 44px;
    }

    .search-form__container {
        flex-grow: 0;
        border-radius: 40px;
        background-color: var(--background-color-light-grey-f);
        width: 100%;
        border: none;
        box-sizing: border-box;
    }

    .search-form__switcher-text {
        font-size: 11px;
    }

    .search-form__search-btn {
        flex-grow: 0;
        flex-shrink: 1;
        width: 58.65px;
    }

    .search-form__input-field {
        flex-shrink: 1;
        font-size: 14px;
    }


    .search-form__search-container {
        border-radius: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
    }

}