.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px 70px 0;
}

.search-form__container {
    width: 100%;
    height: 46px;
	display: flex;
	justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    border-radius: 40px;
    background-color: #F9F9F9;
}

.search-form__input {
    border: none;
    width: 100%;
    outline:none;
    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 15px;
    height: 46px;
    border-radius: 40px;
    background-color: #F9F9F9;
}

.search-form__input::placeholder {
    color: #A0A0A0;
}


.search-form__button {
    height: 34px;
    background-image: url("../../../images/search_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border-radius: 40px;
    border: none;
    margin: 0 6px 0 0px;
    min-width: 80px;
    background-color: #FF6838;
}

.search-form__button:hover {
    opacity: .8;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .search-form {
        margin: 80px 30px 0;
    }
}

@media screen and (max-width: 400px) {
    .search-form {
        margin: 85px 14px 0;
        padding: 0 0 10px 0;
    }

    .search-form__icon {
        display: none;
    }

    .search-form__input {
        width: 100%;
    }
}