.tech {
	background-color: #F5F5F5;
	display: flex;
	flex-direction: column;
	padding: 100px 70px;
}

.tech__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tech__title {
	margin: 0;
	font-size: 50px;
	font-weight: 400;
	line-height: 58px; /* 116% */
	letter-spacing: -2px;
	padding-top: 90px;
}

.tech__subtitle {
	margin: 0;
	padding-top: 26px;
	width: 460px;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
	letter-spacing: -0.56px;
}

.tech__stack {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 10px;
	padding-top: 100px;
}

.tech__stack-tech {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90px;
	height: 60px;
	border-radius: 10px;
	background: #E8E8E8;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.56px;
}

@media screen and (max-width: 768px) {
	.tech {
		padding: 90px 50px;
	}

	.tech__title {
		padding-top: 80px;
	}

	.tech__subtitle {
		font-size: 12px;
		padding-top: 18px;
		width: 400px;
	}

	.tech__stack {
		padding-top: 83px;
	}

	.tech__stack-tech {
		width: 84px;
		height: 57px;
		font-size: 12px;
	}
}

@media screen and (max-width: 425px) {
	.tech {
		background-color: white;
		padding: 70px 18px;
	}
	.tech__title {
		text-align: center;
		font-size: 30px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -1.2px;
		padding-top: 60px;
	}

	.tech__subtitle {
		font-size: 11px;
		width: 255px;
		line-height: 16px; /* 145.455% */
		letter-spacing: -0.44px;
		padding-top: 20px;
	}
	.tech__stack {
		padding: 50px 50px 0;
	}	
}