.profile-btn {
    background: transparent;
    border-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 86px;
    margin: 0;
    border: none;
    padding: 0;
}

.profile-btn__link {
    border-radius: 20px;
    font-size: 14px;
    background-color: #F9F9F9; /*унифицироваь цвет*/
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    text-decoration: none;
    color: black; /*унифицировать цвет*/
}
